<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <!-- Main Product Image -->
        <img id="mainImage" class="h-20 md:w-48" src="{{product.image.url}}" alt="Main Product Image">
        
      
        <div class="flex justify-center mt-2">
            {% for p in p_image  %}
          <img class="h-12 w-12 object-cover rounded-full cursor-pointer hover:border-gray-500" src="{{ p.images.url}}" alt="Secondary Image 1" onclick="changeImage('secondary-image1.jpg')">
          {% endfor %}
        </div>
      </div>
      <div class="p-8">
        <div class="p-4">
            <h3 class="text-xl font-semibold mb-2">{{ product.title }}</h3>
            <h3 class="text-2xl font-bold mb-2">{{ product.category.title }}</h3>
            <h3 class="text-2xl font-bold mb-2">{{ product.vendor.title }}</h3>
            <p class="text-gray-600">{{ product.description }}</p>
            <p class="text-red-600">-{{ product.get_percentage |floatformat:0 }}</p>
            <div class="mt-4 flex justify-between items-center">
                <span class="font-bold">${{ product.price }}</span>
                <del class="font-bold">${{ product.old_price }}</del>

                <button class="bg-gray-900 text-white px-4 py-2 rounded-full hover:bg-gray-800 transition duration-300">Add to Cart</button>
            </div>
        </div>
        <div class="mt-4">
          <button class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    // Function to change main product image when a secondary thumbnail is clicked
    function changeImage(imageSrc) {
      document.getElementById('mainImage').src = imageSrc;
    }
  </script>
  