{% extends "core/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Ecommerce Store{% endblock %}
  
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">


{% block content %}
<div class="container mx-auto mt-16 ">
    {% if products %}
    <h2 class="text-2xl font-bold mb-8"> Search Related to"{{ query }}"</h2>
    
{% else %}
    <h2 class="text-2xl font-bold mb-8">No Results Found</h2>
{% endif %}

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-4">
        {% for product in products %}
        <!-- Product Card -->
        <a href="{% url 'core:product_detail_view' product.pid %}">
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-64 object-cover">
            <div class="p-4">
                <h3 class="text-xl font-semibold mb-2">{{ product.title }}</h3>
                <h3 class="text-2xl font-bold mb-2">{{ product.category.title }}</h3>
                <h3 class="text-2xl font-bold mb-2">{{ product.vendor.title }}</h3>
                <p class="text-gray-600">{{ product.description }}</p>
                <p class="text-red-600">-{{ product.get_percentage |floatformat:0 }}</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold">${{ product.price }}</span>
                    <del class="font-bold">${{ product.old_price }}</del>

                    <button class="bg-gray-900 text-white px-4 py-2 rounded-full hover:bg-gray-800 transition duration-300">Add to Cart</button>
                </div>
            </div>
        </div>
       </a>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% comment %} <!-- Footer -->
<footer class="bg-gray-900 text-white py-8 mt-16">
    <div class="container mx-auto text-center">
        <p>&copy; 2024 Ecommerce Store. All rights reserved.</p>
    </div>
</footer> {% endcomment %}

</body>
</html>
